
style "scrollbar" 
{

    GtkRange::trough_border = 0
    GtkRange::slider_width = 15
    GtkRange::stepper_size = 15
    GtkScrollbar::min_slider_length = 30

	engine "pixmap" 
	{
		# Horizontal slider background
		image 
		{
            function        = BOX
            recolorable     = TRUE
            detail          = "trough"
            file            = "scrollbars/trough-scrollbar-horiz.png"
            border          = { 30, 30, 0, 0 }
            stretch         = TRUE
            orientation     = HORIZONTAL
        }
	    
	    # Vertical slider background
	    image 
		{
            function        = BOX
            recolorable     = TRUE
            detail          = "trough"
            file            = "scrollbars/trough-scrollbar-vert.png"
            border          = { 0, 0, 30, 30 }
            stretch         = TRUE
            orientation     = VERTICAL
        }

		# Normal horizontal slider
	    image 
		{
	        function        = SLIDER
	        recolorable     = TRUE
	        state           = NORMAL
	        file            = "scrollbars/slider-horiz.png"
	        border          = { 15, 15, 6, 6 }
	        stretch         = TRUE
	        orientation     = HORIZONTAL
	    }
		
		# Horizontal slider (active)
		image 
		{
	        function        = SLIDER
	        recolorable     = TRUE
	        state           = ACTIVE
	        file            = "scrollbars/slider-horiz-active.png"
	        border          = { 15, 15, 6, 6 }
	        stretch         = TRUE
	        orientation     = HORIZONTAL
		}

		# Horizontal slider (mouse over)
	    image 
		{
	        function        = SLIDER 
	        recolorable     = TRUE
	        state           = PRELIGHT
	        file            = "scrollbars/slider-horiz-prelight.png"
	        border          = { 15, 15, 6, 6 }
	        stretch         = TRUE
	        orientation     = HORIZONTAL
	    }
	    
	    # Horizontal slider (Insesitive)
		image 
		{
	        function        = SLIDER 
	        recolorable     = TRUE
	        state           = INSENSITIVE
	        file            = "scrollbars/slider-horiz-insensitive.png"
	        border          = { 15, 15, 6, 6 }
	        stretch         = TRUE
	        orientation     = HORIZONTAL
	    }

	    # Normal vertical slider
	    image 
		{
	        function        = SLIDER
	        recolorable     = TRUE
	        state           = NORMAL
	        file            = "scrollbars/slider-vert.png"
	        border          = { 6, 6, 15, 15 }
	        stretch         = TRUE
	        orientation     = VERTICAL
		}
		
		# Vertical slider (Active)
		image 
		{
	        function        = SLIDER
	        recolorable     = TRUE
	        state           = ACTIVE
	        file            = "scrollbars/slider-vert-active.png"
	        border          = { 6, 6, 15, 15 }
	        stretch         = TRUE
	        orientation     = VERTICAL
		}

		# Vertical slider (mouse over)
	    image 
		{
	        function        = SLIDER 
	        recolorable     = TRUE
	        state           = PRELIGHT
	        file            = "scrollbars/slider-vert-prelight.png"
	        border          = { 6, 6, 15, 15 }
	        stretch         = TRUE
	        orientation     = VERTICAL
	    }
	    
	    # Vertical slider (Insesitive)
		image 
		{
	        function        = SLIDER 
	        recolorable     = TRUE
	        state           = INSENSITIVE
	        file            = "scrollbars/slider-vert-insensitive.png"
	        border          = { 6, 6, 15, 15 }
	        stretch         = TRUE
	        orientation     = VERTICAL
	    }


# SCROLLBAR STEPPERS ######################################################################

	# Up
    image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= NORMAL
      file				= "scrollbars/stepper-up-normal.png"
      #border			= { 12, 2, 2, 9 }
      stretch			= TRUE
      arrow_direction	= UP
    }
 	image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= PRELIGHT
      file				= "scrollbars/stepper-up-prelight.png"
      #border			= { 12, 2, 2, 9 }
      stretch			= TRUE
      arrow_direction	= UP
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= ACTIVE
      file				= "scrollbars/stepper-up-active.png"
      #border			= { 12, 2, 2, 9 }
      stretch			= TRUE
      arrow_direction	= UP
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= INSENSITIVE
      file				= "scrollbars/stepper-up-insensitive.png"
      #border			= { 12, 2, 2, 9 }
      stretch			= TRUE
      arrow_direction	= UP
    }


######### DOWN ############


    image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= NORMAL
      file				= "scrollbars/stepper-down-normal.png"
      #border			= { 12, 2, 10, 2 }
      stretch			= TRUE
      arrow_direction	= DOWN
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= PRELIGHT
      file				= "scrollbars/stepper-down-prelight.png"
      #border			= { 12, 2, 10, 2 }
      stretch			= TRUE
      arrow_direction	= DOWN
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= ACTIVE
      file				= "scrollbars/stepper-down-active.png"
      #border			= { 12, 2, 10, 2 }
      stretch			= TRUE
      arrow_direction	= DOWN
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= INSENSITIVE
      file				= "scrollbars/stepper-down-insensitive.png"
      #border			= { 12, 2, 10, 2 }
      stretch			= TRUE
      arrow_direction	= DOWN
    }


############ RIGHT ################


    image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= NORMAL
      file				= "scrollbars/stepper-right-normal.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= RIGHT
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= PRELIGHT
      file				= "scrollbars/stepper-right-prelight.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= RIGHT
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= ACTIVE
      file				= "scrollbars/stepper-right-active.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= RIGHT
    }
 image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= INSENSITIVE
      file				= "scrollbars/stepper-right-insensitive.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= RIGHT
    }


############### LEFT ###################



    image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= NORMAL
      file				= "scrollbars/stepper-left-normal.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= LEFT
    }
  image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= PRELIGHT
      file				= "scrollbars/stepper-left-prelight.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= LEFT
    }
  image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= ACTIVE
      file				= "scrollbars/stepper-left-active.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= LEFT
    }
  image 
    {
      function			= STEPPER
      recolorable		= TRUE
      state				= INSENSITIVE
      file				= "scrollbars/stepper-left-insensitive.png"
      #border			= { 2, 9, 2, 13 }
      stretch			= TRUE
      arrow_direction	= LEFT
    }
  	}
}

class "GtkScrollbar"   style "scrollbar"
class "GtkVScrollbar"  style "scrollbar"
class "GtkHScrollbar"  style "scrollbar"
widget_class "*Scrollbar" style "scrollbar"
